extends layouts/default

block masthead
  .ui.center.aligned.inverted.segment
    h3.ui.inverted.header Blockchain-Powered
    h1.ui.inverted.header OpenResearch
    h2.ui.inverted.header Share your knowledge and contribute to science

    a.ui.huge.primary.button(href="/users#create", style="margin-top: 1.5em;")
      | Open Up
      i.right.chevron.icon

block content
  h2.ui.header Current project: #{projects[0].name}
  p !{projects[0].description}

  .ui.three.cards
    - var topic = topics.slice(0, 3);
    for topic in topics
      .ui.card
        .content
          a.header(href="/topics/#{topic._id}") #{topic.title}
    
