extends layouts/default

block content
  h2 List of People

  each person in people
    a.ui.card.fluid.link(href="/people/#{person.slug}")
      .content
        h3.header #{person.username}

  h3 Sign Up
  form.ui.form(method="POST", action="/people")
    .field
      label(for="username") Username
      input(type="text", name="username")
    .field
      label(for="username") Email
      input(type="text", name="email")
    .field
      label(for="username") Password
      input(type="password", name="password")
        
    .field
      button.ui.right.floated.primary.button(type="submit") Sign Up
        i.icon.right.chevron
    
    a.ui.button(href="/sessions?method=create&params=['twitter']")
      i.icon.twitter
      | sign in with Twitter
